#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}